<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CompoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE8A5F5F2F6651DC002FB3EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE8A5F6C2F6651DD002FB3EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE8A5F762F6651DD002FB3EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
